# Elastic Beanstalk Files, no need in production
.elasticbeanstalk

# tests, no need in production
test
coverage

# Logs, no need in production
logs
*.log

# downloaded by itself during npm install
node_modules

# created by itself during npm run build
dist
